body {
  background-color: rgb(66, 66, 66);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

header button {
  height: 30px;
  align-self: center;
  font-family: inherit;
}

h1 {
  color: white;
}

table {
  margin: auto;
  border-radius: 10px;
  border-spacing: 0;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}
thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tbody tr td:last-child button {
  font-family: inherit;
  height: 30px;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(0, 0, 0);
  color: white;
}

td {
  text-align: center;
}

tbody tr td {
  background-color: white;
}

caption {
  padding: 10px;
}

/* Pop up form */

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: rgb(134, 133, 133);
  color: white;
}

.form-container input[type="text"] {
  width: 450px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-family: inherit;
}

.form-container input[type="checkbox"] {
  padding: 15px;
  margin: 5px 0 22px 0;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
